<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mongo Assignment</title>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/client.js"></script>

</head>
<form id="inputForm" method="POST">
    <input type="number" id="assignment_num" name="assignment_number"/><br /><br />
    <input type="text" id="student_name" name="student_name" /><br /><br />
    <input type="number" id="score" name="score"/><br /><br />
    <input type="text" id="date_completed" name="date_completed"/><br /><br />
    <button type="submit" value="Submit">adadas</button>
</form>

<div class="container">
    <ul class="assignmentData">

    </ul>
</div>
</body>
</html>